<div class="container">
  <h2 class="mb-4" style="font-weight: 800;">Privacy Statement</h2>
  <p>
    <strong>First things first</strong> – your privacy is important to us. We know that’s the kind of thing all these sorts of notices
    say, but frankly we mean it. You’ve placed your trust in us by using the Hotelswave.com services and we value that trust.
    That means we’re committed to protecting and safeguarding any personal data you give us. We act in our customers’ interest
    and we are transparent about the processing of your personal data.
  </p>
  <p>This one privacy statement applies to any kind of information we collect through these platforms or other means connected
    to these platforms (such as contacting our customer service team via email). It makes for a lot less tedious reading.
    If you are one of our business partners, make sure to also check out our Privacy Statement for Business Partners to understand
    how personal data is further processed as part of the business relationship.</p>
  <p>We might amend the Privacy Statement from time to time. If you care about your privacy, visit this page regularly and you’ll
    know exactly where you stand. If we make changes to the Privacy Statement which will have an impact on you (for example,
    if we intend to process your personal data for other purposes than communicated in the past in this Privacy Statement),
    we will notify you of these changes before the new activities begin.</p>
  <p>
    <strong>Sad but necessary bit:</strong> If you disagree with this Privacy Statement, you should discontinue using our services.
    If you agree with our Privacy Statement, then you’re all set to book your next Trip through us. Let the good times roll!</p>
  <div class="ques">
    <span class="q">What kind of personal data does Hotelswave.com collect?</span>
    <p>We can’t help you book the perfect Trip without information, so when you use our services there are certain pieces of
      information we ask for. This is pretty basic stuff – your name, preferred contact details, the names of anybody travelling
      with you and your payment information. You may decide for yourself to submit special requests for your upcoming Trip
      (for example, certain preferences ). In addition to this, we also collect information from your computer, phone, tablet
      or other device you are using to access our services. This includes the IP address, the browser you use, and your language
      settings. There are also situations in which we receive information about you from others or automatically collect
      other information. This is the basic overview of the information we collect, but if you’d like to know more, we go
      into a lot more detail below.
    </p>
  </div>
  <div class="ques">
    <span class="q">Why does Hotelswave.com collect and use your personal data?</span>
    <p>The main reason we ask you for personal details is a pretty good one – it’s to help administer your online Trip Reservations
      and ensure you get the best service possible. We also use your personal data to contact you and to inform you of the
      latest deals and special offers and other products or services which we believe may be of interest to you. There are
      other uses too – if you’d like to find out what they are, read on for a more detailed explanation.</p>
  </div>
  <div class="ques">
    <span class="q">How does Hotelswave.com share your data with third parties?</span>
    <p>There are different parties integrated into the Hotelswave.com services in various ways and for various reasons. The
      primary purpose is to share your data relevant for your Trip with the Trip Provider to complete your Trip Reservation.
      There are also other parties which can receive some of your data, which are parties we involve to provide you with
      the Hotelswave.com services. This includes for example - financial institutions, advertisers, subsidiaries of the Hotelswave.com
      and other affiliates of the Intelligent Group or in some cases, if we are required by applicable law, governmental
      or other authorities. We do not sell or rent your personal data. Below we’ll go into more detail about how information
      you share with us is used and exchanged with these parties.</p>
  </div>
  <div class="ques">
    <span class="q">How does Hotelswave.com make use of mobile devices?</span>
    <p>We offer free apps through which we also collect and process personal data. This works in much the same way as our website,
      but they also allow you to use our location services.</p>
  </div>
  <div class="ques">
    <span class="q">How does Hotelswave.com make use of social media?</span>
    <p>The use of social media services may be integrated with the Hotelswave.com services in various ways, which will involve
      us collecting some of your personal data or the social media provider receiving some of your information.</p>
  </div>
  <div class="ques">
    <span class="q">Who is responsible for the processing of personal data on the Hotelswave.com website and apps?</span>
    <p>Hotelswave.com, located in Dhaka, controls the processing of personal data on its websites and mobile apps.
    </p>
    <p>
      Hotelswave.com collects and uses information which you provide to us. When you make a Trip Reservation, you are (as a minimum)
      asked for your name and email address. Depending on the Trip Reservation, we may also ask for your home address, telephone
      number, payment information, date of birth, the names of any guests travelling with you and any preferences (such as
      meal preferences and any mobility restrictions) you might have for your Trip.</p>
  </div>
  <div class="ques">
    <span class="q">How are cookies used?</span>
    <p>Cookies are used for different purposes. They allow you to be recognised as the same user across the pages of a website,
      between websites or when you use an app. The types of information that we collect through cookies include IP address;
      device ID; viewed pages; browser type; browsing information; operating system; internet service provider; timestamp;
      whether you have responded to an advertisement; the referring URL; and features used or activities engaged in within
      the website/apps</p>
  </div>
  <h3>Our website and apps use cookies for different purposes:</h3>
  <p>
    <strong>Technical cookies: </strong>
    We try to give our visitors an advanced, user-friendly website and apps that adapt automatically to their needs and wishes.
    To achieve this, we use technical cookies to show you our website, to make them function correctly, to create your user
    account, to sign you in and to manage your bookings. These technical cookies are absolutely necessary for our website
    to function properly.</p>
  <p>
    <strong>Functional cookies:</strong>
    We also use functional cookies to remember your preferences and to help you to use our website and apps efficiently and effectively.
    If you are using the Booking.com websites or apps to search for a Trip, for example, these cookies remember your preferred
    currency, language, your searches and your previously viewed Trip Providers. We may also use cookies to remember your
    registration information so that you don’t have to retype your login credentials each time you visit our site. Passwords
    will, however, always be encrypted. These functional cookies are not strictly necessary for the functioning of our website
    or apps, but they add functionality and enhance your Hotelswav .com experience.
  </p>
  <p>
    <strong>Analytics cookies: </strong>We use these cookies to gain insight into how our visitors use Hotelswave.com. This means
    we can find out what works and what doesn't, optimize and improve our websites or apps, understand the effectiveness
    of advertisements and communications, and ensure we continue to be interesting and relevant. The data we gather can include
    which web pages you have viewed, which referring/exit pages you have entered and left from, which platform type you have
    used, which emails you have opened and acted upon, and date and time stamp information.</p>
  <p>It also means we can use details about how you’ve interacted with the site, such as the number of clicks you make on a
    given page, your mouse movements and scrolling activity, the search words you use and the text you enter into various
    fields. We make use of analytics cookies as part of our online advertising campaigns to learn how users interact with
    our website or apps after they have been shown an online advertisement. This may include advertisements on third-party
    websites. Analytics cookies may also be used to enable our business partners to learn if their customers make use of
    accommodation offers integrated into their websites.</p>
  <p>
    <strong>Commercial cookies: </strong>We use third-party cookies as well as our own to display personalized advertisements on
    our websites and on other websites. This is called “retargeting,” and it is based on browsing activities, such as the
    destinations you have been searching for, the accommodation you have viewed and the prices you have been shown.</p>
  <p>If you have any questions about this Cookie Statement, please send an email to
    <a href="mailto:support@hotelswave.com?Subject=Hello" target="_top">support@hotelswave.com</a>. Our Cookie Statement may also be amended from time to time. So visit this page regularly
    to keep abreast of updates.</p>
</div>